<div id="form">
<form id="loginForm" action="" method="POST">
	<?php foreach($loginFormField as $field => $value) {
			if( $value['label'] ) { ?>
				<label>
					<?php echo $value['label']; ?>
				</label>
			<?php } ?>
			<input type="<?php echo $value['type']; ?>" value="<?php echo $value['value']; ?>" id="<?php echo $value['id']; ?>" name="<?php echo $value['name']; ?>" />  
			<br />
	<?php } ?>
</form>
</div>
